@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShoppingInfo</title>
</head>
<body>
    <Center style="font-size:20px ; font-weight: 600">
        <div>Thanh toán thành công.</div>
        <div>Đơn hàng của bạn sẽ được giao trong 2-3 ngày tới.</div>
    </Center>
</body>
</html>