@{
    ViewBag.Title = "CartNoProduct";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<center style=" margin-top: 5%; ">
    <h2 style="color: black;font-size:25px;">Quý Khách Chưa Có Sản Phẩm nào !!!</h2>
    <img src="https://bizweb.dktcdn.net/100/401/953/themes/785928/assets/empty_cart.png?1614590460628" />

    <i style="height:110px;"></i>

    <a href="/Home/Index" class="btn btn-primary" style="font-size: 20px; margin-top: 4%; font-size: 20px; display: block; width: 20%;">Tiếp Tục Mua Hàng</a>
</center>