@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Content/images/order success (Custom).png"
                 alt="Thanh Toan Thanh Cong" />
            <div class="alert alert-success">
                <strong>Đặt hàng thành công!</strong> Cảm ơn bạn đã mua hàng tại <a style="color: #e68a47" href="/">ShopeeFood</a>
            </div>
        </div>
    </div>
</div>